body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
}

nav {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #333;
}

nav button {
  color: white;
  background: #333;
  text-decoration: none;
  display: flex;
  flex: 1;
  padding: 14px 20px;
  margin: 0;
  justify-content: center;
}

nav button:hover {
  background-color: #575757;
}

p {
  text-align: center;
  font-size: 1.4em;
  margin: 20px 0;
}

div {
  text-align: center;
}

form {
  text-align: center;
}

input {
  font-size: 1em;
}

button {
  font-size: 1.2em;
  margin: 20px;
}